<div class="mobile_nav">
    <div class="mobile_nav-topbar"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/6350037c96d4c54ea10bf284_close.svg" loading="lazy" width="29" data-w-id="ac373e60-88ff-a030-3c85-8880f51f7f1f" alt="" class="nav_icons mobile_visible">
      <div class="nav_link-wrapper-icons">
        <a href="#" class="w-inline-block"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633b09f9b37c80393b043edb_Icon_Hearts.svg" loading="lazy" alt="" class="nav_icons mobile_visible"></a>
        <a href="{{ routes.account_url }}" class="w-inline-block"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633b09f9b91ca5323f69c615_Icon_Account.svg" loading="lazy" alt="" class="nav_icons mobile_visible"></a>
      </div>
    </div>
    <form action="/search" class="margin_0 w-form" method="get" role="search"><input type="search" class="mobile_nav-search paragraph_title text_colour-red w-input" maxlength="256" name="q" placeholder="Search Casa..." id="search-3" required=""><input type="submit" value="Search" class="hide w-button"></form>
    <div class="mobile_nav-section heading">
      <div class="paragraph_title">{{ 't274f16' | t }}</div>
    </div>
    <a href="{{ pages["all-rooms"].url }}" class="mobile_nav-section w-inline-block">
      <div class="paragraph_title">{{ 't4b7aad8' | t }}</div>
    </a>
    <a href="{{ pages["tableware"].url }}" class="mobile_nav-section w-inline-block">
      <div class="paragraph_title">{{ 'tfb572b' | t }}</div>
    </a>
    <a href="{{ pages["home-accessories"].url }}" class="mobile_nav-section w-inline-block">
      <div class="paragraph_title">{{ 'tn36c02691' | t }}</div>
    </a>
    <div class="mobile_nav-section heading">
      <div class="paragraph_title">{{ 't433b03c' | t }}</div>
    </div>
    <a href="{{ pages["gifts"].url }}" class="mobile_nav-section w-inline-block">
      <div class="paragraph_title">{{ 't419cd23' | t }}</div>
    </a>
    <a href="{{ pages["blogs"].url }}" class="mobile_nav-section w-inline-block">
      <div class="paragraph_title">{{ 't1c5a62a' | t }}</div>
    </a>
    <div class="mobile_nav-section heading">
      <div class="paragraph_title">{{ 't1d4ce0f0' | t }}</div>
    </div>
    <div class="mobile_nav-section">
      <div class="paragraph_title">{{ 't645efc51' | t }}</div>
    </div>
    <div class="mobile_nav-section">
      <div class="paragraph_title">{{ 't20d03d' | t }}</div>
    </div>
  </div>