{% capture listItems %}

{%- assign allItems = collections["featured-products"].products -%}
{%- for item in allItems -%}
  <div role="listitem" class="w-dyn-item">
                <div id="w-node-d5c4ee14-b699-2fd1-32a9-b2ac7b41ce65-c76c3d8f" class="frame_wrapper full-width">
                  <div id="w-node-d5c4ee14-b699-2fd1-32a9-b2ac7b41ce66-c76c3d8f" class="frame"><img loading="lazy" src="{{ item.featured_image | img_url: 'master' }}" alt="{{ item.featured_image.alt }}" class="frame-fullimage" data-commerce-type="variation-image" srcset="{{ item.featured_image | img_url: '1920x' }} 1920w,{{ item.featured_image | img_url: '1600x' }} 1600w,{{ item.featured_image | img_url: '1366x' }} 1366w,{{ item.featured_image | img_url: '1024x' }} 1024w,{{ item.featured_image | img_url: '768x' }} 768w,{{ item.featured_image | img_url: '640x' }} 640w"><img loading="lazy" where="src" src="{{ product.images.last | product_img_url: 'master' }}" alt="" class="hover">
                    <a href="#" class="wishlist-addbtn w-inline-block"></a>
                  </div>
                  <div class="frame_leftcontent">
                    <a href="{{ item.url | within: collection }}" class="w-inline-block">
                      <p class="paragraph_title">{{ item.title }}</p>
                    </a>
                    <p data-commerce-type="variation-price" class="heading_r line-height_0">{{ item.price | money }}</p>
                    <div>
                      {%- form "product", item, data-node-type: "commerce-add-to-cart-form", class: "w-commerce-commerceaddtocartform" -%}{%- unless item.has_only_default_variant or product.variants.size == 1 -%}<div data-node-type="add-to-cart-option-list" id="" position-id="5861fc05-f795-3a90-ab68-e38a4947f3fa" template-part-bind="5861fc05-f795-3a90-ab68-e38a4947f3fa">{%- for option in item.options_with_values -%}<fieldset data-node-type="add-to-cart-option" id="" template-part-bind="5861fc05-f795-3a90-ab68-e38a4947f3fb" style="{% if item.has_only_default_variant or product.variants.size == 1 %}display: none; {% endif %}"><label data-node-type="add-to-cart-option-label" id="" template-part-bind="5861fc05-f795-3a90-ab68-e38a4947f3fc">{{ option.name }}</label><select data-node-type="add-to-cart-option-select" id="" template-part-bind="5861fc05-f795-3a90-ab68-e38a4947f3fd" class="w-select" style="display: none;" name="{{ "option" | append: forloop.index }}">{%- render "product-options", option: option -%}</select><div data-node-type="add-to-cart-option-pill-group" id="" template-part-bind="5861fc05-f795-3a90-ab68-e38a4947f3fe" class="w-commerce-commerceaddtocartoptionpillgroup" aria-label="{{ "option" | append: forloop.index  }}">{%- for value in option.values -%}<div data-node-type="add-to-cart-option-pill" id="" template-part-bind="5861fc05-f795-3a90-ab68-e38a4947f3ff" class="w-commerce-commerceaddtocartoptionpill" data-option-name="{{ value | handle }}"><div data-node-type="block" id="" template-part-bind="5861fc05-f795-3a90-ab68-e38a4947f400">{{ value }}</div></div>{%- endfor -%}</div></fieldset>{%- endfor -%}</div>{%- endunless -%}<input type="submit" data-loading-text="Adding to cart..." data-node-type="commerce-add-to-cart-button" class="w-commerce-commerceaddtocartbutton button_text" value="Add to Cart" aria-haspopup="dialog" aria-busy="false" position-id="5861fc05-f795-3a90-ab68-e38a4947f404">
                        <a data-node-type="commerce-buy-now-button" class="w-commerce-commercebuynowbutton" style="display:none" aria-haspopup="false" data-subscription-text="Subscribe now" data-default-text="Buy now" aria-busy="false" position-id="5861fc05-f795-3a90-ab68-e38a4947f405" href="/checkout">Buy now</a>
                      {%- render "product-variants-data" product: item -%}{%- endform -%}
                      <div tabindex="0" style="display:none" class="w-commerce-commerceaddtocartoutofstock">
                        <div>This product is out of stock.</div>
                      </div>
                      <div aria-live="assertive" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
                        <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

{%- endfor -%}

{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="collection-list-wrapper w-dyn-list" udy-collection="product">
            {%- unless items_length == 0 -%}<div role="list" class="container_4col w-dyn-items">
              {{ listItems }}
            </div>{%- endunless -%}
            {%- if items_length == 0 -%}<div class="w-dyn-empty">
              <div>No items found.</div>
            </div>{%- endif -%}
          </div>