<nav class="navigation">
    <div class="body-dropshadow"></div>
    <div class="search_wrapper">
      <div class="page_padding">
        <form action="/search" class="content_horizontal align-center no-wrap w-form" method="get" role="search"><input type="search" class="search_bar w-input" maxlength="256" name="q" placeholder="Search Casa" id="search-2" required=""><img src="{{ 'close.svg' | asset_url }}" loading="lazy" data-w-id="b6e4ce14-7730-86c4-6f6d-c363db257414" alt="" class="icon_2rem"><input type="submit" value="Search" class="hide w-button"></form>
      </div>
    </div>
    <div class="page_padding">
      <div class="nav_wrapper">
        <a href="#" class="nav_hamburger w-inline-block"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633b09fa1c91ac81a7a6623d_Icon_Hamburger.svg" loading="lazy" data-w-id="1af77963-baa1-4a85-bcd6-03525a57ba2c" alt="" class="nav_hamburger"></a>
        <a href="{{ routes.root_url }}" aria-current="page" class="nav_logo-wrapper w-inline-block w--current"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633b0a304154a674f1fa7f3b_CasaLogo.svg" loading="lazy" alt="" class="nav_logo"></a>
        <div class="nav_link-wrapper">
          <div data-hover="true" data-delay="0" class="nav_dropdown-wrapper w-dropdown">
            <div class="nav_dropdown-link w-dropdown-toggle">
              <div class="paragraph_filters">{{ 't4b7aad8' | t }}</div>
            </div>
            <nav class="nav_dropdown-menu w-dropdown-list">
              <div class="page_padding">
                <div class="nav_dropdown-menu_content">
                  <div class="nav_dropdown-menu_content-links">
                    <a href="#" class="heading_r">{{ 't4b7aad8' | t }}</a>
                    <div class="divider-line"></div>
                    {%- render "categories_where_collection_type_eq_9233e7f8a5b6b0e9b0349c69307be105" -%}
                    <a href="{{ pages["all-rooms"].url }}" class="button_line_blue margin_30 w-button">{{ 't2838eaef' | t }}</a>
                  </div>
                  <div class="nav_dropdown-menu_content-image"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633c0cbb6518b6d57511d591_room-header.jpg" loading="lazy" alt="" class="nav_dropdown-image"></div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="true" data-delay="0" class="nav_dropdown-wrapper w-dropdown">
            <div class="nav_dropdown-link w-dropdown-toggle">
              <div class="paragraph_filters">{{ 'tfb572b' | t }}</div>
            </div>
            <nav class="nav_dropdown-menu w-dropdown-list">
              <div class="page_padding">
                <div class="nav_dropdown-menu_content">
                  <div class="nav_dropdown-menu_content-links">
                    <a href="#" class="heading_r">{{ 'tfb572b' | t }}</a>
                    <div class="divider-line"></div>
                    {%- render "categories_where_collection_type_eq_9233e7f8a5b6b0e9b0349c69307be105_number_0" -%}
                    <a href="{{ pages["tableware"].url }}" class="button_line_blue margin_30 w-button">{{ 't320b3c2' | t }}</a>
                  </div>
                  <div class="nav_dropdown-menu_content-image"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633c0cbaa9fcd95bfbc365df_tableware-header.jpg" loading="lazy" alt="" class="nav_dropdown-image"></div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="true" data-delay="0" class="nav_dropdown-wrapper w-dropdown">
            <div class="nav_dropdown-link w-dropdown-toggle">
              <div class="paragraph_filters">{{ 'tn36c02691' | t }}</div>
            </div>
            <nav class="nav_dropdown-menu w-dropdown-list">
              <div class="page_padding">
                <div class="nav_dropdown-menu_content">
                  <div class="nav_dropdown-menu_content-links">
                    <a href="" class="heading_r">{{ 'tn36c02691' | t }}</a>
                    <div class="divider-line"></div>
                    {%- render "categories_where_collection_type_eq_cc84884355db562080d417ebdfd59e1a" -%}
                    <a href="{{ pages["home-accessories"].url }}" class="button_line_blue margin_30 w-button">{{ 't3501dde7' | t }}</a>
                  </div>
                  <div class="nav_dropdown-menu_content-image"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633c0cbaba4baa4cbc8fdb3a_homeAccessories-header.jpg" loading="lazy" alt="" class="nav_dropdown-image"></div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="true" data-delay="0" class="nav_dropdown-wrapper w-dropdown">
            <div class="nav_dropdown-link w-dropdown-toggle">
              <div>
                <a href="#" class="paragraph_filters">{{ section.settings.paragraph_filters_text_3 }}</a>
              </div>
            </div>
            <nav class="nav_dropdown-menu w-dropdown-list">
              <div class="page_padding">
                <div class="nav_dropdown-menu_content">
                  <div class="nav_dropdown-menu_content-links">
                    <a href="#" class="heading_r">{{ 't419cd23' | t }}</a>
                    <div class="divider-line"></div>
                    {%- render "categories_where_collection_type_eq_689d2e7418ff6ec91c8dd37ebc2fec18_sorted_by_name" -%}
                    <a href="{{ pages["gifts"].url }}" class="button_line_blue margin_30 w-button">{{ 't279b0d3a' | t }}</a>
                  </div>
                  <div class="nav_dropdown-menu_content-image"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633c0cbaf63c44752e6f5b39_gifts-header.jpg" loading="lazy" alt="" class="nav_dropdown-image"></div>
                </div>
              </div>
            </nav>
          </div>
          <div class="nav_dropdown-link">
            <div class="paragraph_filters">
              <a href="{{ pages["styling-tips"].url }}">{{ section.settings.link_text }}</a>
            </div>
          </div>
          <div class="nav_dropdown-link">
            <div class="paragraph_filters">
              <a href="{{ pages["about"].url }}">{{ 't645efc51' | t }}</a>
            </div>
          </div>
        </div>
        <div class="nav_link-wrapper-icons">
          <a data-w-id="1af77963-baa1-4a85-bcd6-03525a57baab" href="#" class="w-inline-block search-icon"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633b09fa3e422d7c28413d36_Icon_Search.svg" loading="lazy" alt="" class="nav_icons"></a>
<!--           <a href="#" class="w-inline-block"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633b09f9b37c80393b043edb_Icon_Hearts.svg" loading="lazy" alt="" class="nav_icons"></a> -->
          <a href="{{ routes.account_url }}" class="w-inline-block account-icon"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633b09f9b91ca5323f69c615_Icon_Account.svg" loading="lazy" alt="" class="nav_icons"></a>
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightDropdown" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper" udy-collection="cart">
            <a href="#" data-node-type="commerce-cart-open-link" aria-haspopup="dialog" aria-label="Open cart" role="button" class="w-commerce-commercecartopenlink cart_button w-inline-block"><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/633b09f971caab1f7cb14932_Icon_Cart.svg" loading="lazy" alt="" class="nav_icons mobile_visible">
              <div style="display:none" data-count-hide-rule="empty" class="w-commerce-commercecartopenlinkcount cart_button-icon">{{ cart.item_count }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightDropdown">
              <div role="dialog" data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer basket_container">
                <div class="w-commerce-commercecartheader basket_header">
                  <h4 class="w-commerce-commercecartheading heading_r line-height_0">{{ 'tn77ee8913' | t }}</h4>
                  <a href="#" data-node-type="commerce-cart-close-link" role="button" aria-label="Close cart" class="w-commerce-commercecartcloselink w-inline-block"><svg class="line-height_0" width="16px" height="16px" viewBox="0 0 16 16">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill-rule="nonzero" fill="#333333">
                          <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                        </g>
                      </g>
                    </svg></a>
                </div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                    <script type="text/x-wf-template" id="wf-template-cdadfe26-e1e8-1002-1caf-0546da478ee1"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem" id="" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478ee2"><img data-node-type="cart-item-image" class="basket_image w-commerce-commercecartitemimage" id="" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478ee3" src="<%= it.image %>"><div data-node-type="cart-item-info" class="basket_details w-commerce-commercecartiteminfo" id="" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478ee4"><div data-node-type="cart-product-name" class="paragraph_filters line-height_0 w-commerce-commercecartproductname" id="" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478ee5"><%= it.title %></div><div class="paragraph_filters line-height_0" id="" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478ee6"><%= it.price %></div><div class="quan-group small" id="" template-part-bind="6ddf6b17-3e10-b093-b864-d7a0472be1e7"><div class="quan-dec" id="" template-part-bind="250a7171-4c91-9354-70c1-aac602bcbc03"></div><input class="w-commerce-commercecartquantity quan-num" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"><div class="quan-inc" id="" template-part-bind="7c02e4ff-c09a-2460-13de-445bc134a349"></div></div><ul id="" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478ee7" class="w-commerce-commercecartoptionlist"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item" id="" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478ee8"><span data-node-type="cart-option-list-item-label" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478ee9"><%= data[0] %></span><span id="" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478eea">: </span><span data-node-type="cart-option-list-item-value" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478eec"><%= data[1] %></span></li><% }) %></ul></div><a data-node-type="cart-remove-link" href="#" role="button" aria-label="Remove item from cart" id="" template-part-bind="cdadfe26-e1e8-1002-1caf-0546da478eed" data-product-id="<%= it.id %>"><img data-node-type="image" class="icon_2rem" src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/636b84d8519296646743d779_close.svg" loading="lazy" width="auto" height="auto" id="" template-part-bind="fd1874f9-de51-5fd1-cbfe-8d5276653bc9"></a></div></script>
                    <div class="w-commerce-commercecartlist basket_list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-cdadfe26-e1e8-1002-1caf-0546da478ee1"></div>
                    <div class="w-commerce-commercecartfooter basket_footer">
                      <div aria-atomic="true" aria-live="polite" class="w-commerce-commercecartlineitem margin_16">
                        <div>{{ 'tn76f396dc' | t }}</div>
                        <div class="w-commerce-commercecartordervalue">{{ cart.items_subtotal_price | money }}</div>
                      </div>
                      <div>
                        <a href="{{ routes.cart_url }}" class="button_filled-blue full_width w-button">{{ 't51040653' | t }}</a>
                      </div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate">
                    <div aria-live="polite" aria-label="This cart is empty">{{ 't3d503d2b' | t }}</div>
                  </div>
                  <div aria-live="assertive" style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ 'tn1c765d0d' | t }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

{% unless request.design_mode %}
<script>var currentSection = document.currentScript.closest('.shopify-section'); currentSection.outerHTML = currentSection.innerHTML;</script>
{% endunless %}
        
{% schema %}
{
  "name": "Navigation",
  "tag": "div",
  "class": "navigation",
  "settings": [
    {
      "type": "text",
      "id": "link_text",
      "label": "Link - Text",
      "default": "Styling Tips"
    },
    {
      "type": "text",
      "id": "paragraph_filters_text_3",
      "label": "paragraph_filters - Text 3",
      "default": "Gifts"
    },
    {
      "id": "link_link",
      "label": "Link - Link",
      "type": "url"
    }
  ]
}
{% endschema %}