{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "636e30d70d7d56951a6c3de1" -%}{%- assign bodyClasses = "" -%}
  {%- render 'global-styles' -%}
  <div class="w-embed">
    <style>
#ssgrid {
  display: -ms-grid;
  display: grid;
  width: 70%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
#ssheading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  min-height: 6rem;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  padding-bottom: 1.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  background-color: #e7e7e7;
}
#ssdivide {
  width: 70%;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  border-top: 1px solid #000;
}
#sslabel {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  font-size: 1rem;
  line-height: 1;
  text-align: right;
}
#sssectiontitle{
	font-size: 1.2rem;
}
#sstitle {
  margin-top: 0px;
  margin-bottom: 0px;
}
#sscontainer {
  display: flex;
  flex-direction: column;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
#sscontainerLONG {
  display: flex;
  flex-direction: column;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  width:100%
}
#sscontainerdouble{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  column-count: 2;
}
#sscontainer-double {
  display: block;
  column-count: 2;
  column-gap: 1rem;
  column-rule-width: 1rem;
}
#sscolors{
width: 20rem;
height:8rem;
margin-bottom: 1rem;
}
#blank{
width:100%;
height:4rem;
background-color: #f3f3f3;
}
#sscontainerflex{
	width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
#sscontainerflexlimit{
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
#margintop{
margin-top:2rem;
}
#style{
.wishlist-addbtn 
{   position: relative;
</style>
  </div>
  <div id="ssheading">
    <h1 id="sstitle">{{ 'tn3ac3eefe' | t }}</h1>
    <p>{{ 'tn7aba473' | t }}</p>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 'tn13d1cd4f' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel" class="w-node-_6e14a7c5-8d9e-e8f6-e812-7c69a109d52c-1a6c3de1">{{ 'tn13d1cd4f' | t }}</p>
    <div id="sscontainer" class="w-node-e04e1dba-900c-9a16-fb01-a8442935ee54-1a6c3de1">
      <h1>{{ 'tncacfaf3' | t }}</h1>
      <h2>{{ 't6af22974' | t }}</h2>
      <h3>{{ 't6af22975' | t }}</h3>
      <h4>{{ 't6af22976' | t }}</h4>
      <h5>{{ 't6af22977' | t }}</h5>
      <h6>{{ 't6af22978' | t }}</h6>
    </div>
    <p id="sslabel">{{ 't24fd68e0' | t }}</p>
    <div id="sscontainer">
      <h1 class="heading_xl">{{ 't31850d29' | t }}</h1>
      <h2 class="heading_l">{{ 'tn4ff2ef0d' | t }}</h2>
      <h3 class="heading_m">{{ 'tn79380213' | t }}</h3>
      <h4 class="heading_r">{{ 'tn50398f6c' | t }}</h4>
      <h5 class="heading_s">{{ 'tn291a9e41' | t }}</h5>
      <h6 class="heading_xs">{{ 't585d5df5' | t }}</h6>
    </div>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 'tn108e04cb' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel" class="w-node-_5ced2b7a-4e1b-0b94-429d-78b941893899-1a6c3de1">{{ 't2eb350c5' | t }}</p>
    <div id="sscontainer">
      <p>{{ 't79d4e35f' | t }}</p>
      <p class="paragraph_title">{{ 'tn2418ac1c' | t }}</p>
      <p class="paragraph_filters">{{ 't9019e18' | t }}</p>
      <p class="paragraph_small">{{ 't3514c83' | t }}</p>
    </div>
    <p id="sslabel">{{ 'tn2fbd539f' | t }}</p>
    <div id="sscontainer" class="page_padding">
      <p class="text_align-left">{{ 't59b87d35' | t }}</p>
      <p class="text_align-center">{{ 'tn41c9ec77' | t }}</p>
      <p class="text_align-right">{{ 'tn22527572' | t }}</p>
    </div>
    <p id="sslabel">{{ 't6a6a52e6' | t }}</p>
    <a href="#">{{ 'tn3f647a36' | t }}</a>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 't63648807' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel">{{ 'tnabfe5a6' | t }}<br>{{ 't200d' | t }}</p>
    <div id="sscontainer-double">
      <div id="sscolors" class="colour_primary"></div>
      <div id="sscolors" class="colour_primary-light"></div>
      <div id="sscolors" class="colour_light"></div>
      <div id="sscolors" class="colour_off-white"></div>
      <div id="sscolors" class="colour_lightblue"></div>
      <div id="sscolors" class="colour_blue"></div>
      <div id="sscolors" class="colour_red"></div>
      <div id="sscolors" class="colour_white"></div>
    </div>
    <p id="sslabel">{{ 'tn58d41bec' | t }}</p>
    <div id="sscontainer">
      <p class="text_colour-blue">{{ 'tn2e086e08' | t }}</p>
      <p class="text_colour-red">{{ 't4140d9ad' | t }}</p>
      <p class="text_colour-pink">{{ 't31a3f114' | t }}</p>
    </div>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 't392e4b61' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel" class="w-node-faaddd0e-3e89-fe4d-1254-46310f4e6561-1a6c3de1">{{ 't392e4b61' | t }}</p>
    <div id="sscontainer">
      <a href="#" class="button_line_blue w-inline-block">
        <div>{{ 'tn8fb26a5' | t }}</div>
      </a>
      <a href="#" class="button_line_red w-inline-block">
        <div>{{ 'tn8fb26a5' | t }}</div>
      </a>
      <a href="#" class="button_filled-blue w-inline-block">
        <div>{{ 'tn8fb26a5' | t }}</div>
      </a>
      <a href="#" class="button_text w-button">{{ 'tn8fb26a5' | t }}</a>
    </div>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 'tn4d4301c0' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel" class="w-node-d72c3ddc-911c-13b4-3bce-b47bfefc93d0-1a6c3de1">{{ 'tn1cb940a0' | t }}</p>
    <div class="page_padding">
      <div id="blank" class="blank"></div>
    </div>
    <p id="sslabel">{{ 'tn611e39de' | t }}</p>
    <div id="sscontainer"></div>
    <p id="sslabel">{{ 'tn7cc8beb' | t }}</p>
    <div id="sscontainer" class="page_padding">
      <p class="align-left">{{ 'tn22f88f9e' | t }}</p>
      <p class="align-center">{{ 'tn566b108a' | t }}</p>
      <p class="align_right">{{ 'tn3bc302ff' | t }}</p>
    </div>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 't159a5d2c' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel" class="w-node-c223933c-4628-430d-3f70-4d639961e2d6-1a6c3de1">{{ 't2d564cc2' | t }}</p>
    <div class="container_4col">
      <div id="blank" class="blank"></div>
      <div id="blank" class="blank"></div>
      <div id="blank" class="blank"></div>
      <div id="blank" class="blank"></div>
    </div>
    <p id="sslabel">{{ 'tn3a8ae01d' | t }}</p>
    <div class="container_3col">
      <div id="blank" class="blank"></div>
      <div id="blank" class="blank"></div>
      <div id="blank" class="blank"></div>
    </div>
    <p id="sslabel">{{ 't5d93f304' | t }}</p>
    <div class="container_2col">
      <div id="blank" class="blank"></div>
      <div id="blank" class="blank"></div>
    </div>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 't3d27d05b' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel" class="w-node-cb63ebbc-2042-88f4-a2b8-29d998b2cb61-1a6c3de1">{{ 't5ccfbc65' | t }}</p>
    <div id="sscontainer">
      <div class="margin_0"></div>
      <div class="margin_40"></div>
      <div class="margin_30"></div>
      <div class="line-height_0"></div>
    </div>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 'tn7b014229' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel">{{ 't7c1578a6' | t }}</p>
    <div id="sscontainerflexlimit">
      <div class="frame"></div>
      <div class="frame"></div>
      <div class="frame arc"></div>
      <div class="frame arc"></div>
    </div>
    <p id="sslabel">{{ 't18484dd4' | t }}</p>
    <div id="sscontainerflexlimit">
      <div class="frame arc">
        <div class="frame_border"></div>
      </div>
      <div class="frame arc">
        <div class="frame_border arc2"></div>
      </div>
      <div class="frame arc">
        <div class="frame_border arc3"><br>{{ 't200d' | t }}</div>
      </div>
      <div class="frame arc">
        <div class="frame_border arc4"></div>
      </div>
      <div class="frame arc">
        <div class="frame_border arc5"></div>
      </div>
    </div>
    <p id="sslabel">{{ 'tn778a7355' | t }}</p>
    <div id="sscontainerflexlimit">
      <div class="frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="frame-fullimage"></div>
      <div class="frame"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="frame-fullimage"></div>
      <div class="frame arc"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="frame-fullimage"></div>
      <div class="frame arc"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="frame-fullimage"></div>
    </div>
    <p id="sslabel">{{ 't445c407a' | t }}</p>
    <div id="sscontainerflexlimit">
      <div>
        <div class="divider"></div>
        <div class="divider short"></div>
        <div class="divider full"></div>
        <div class="divider alt"></div>
      </div>
    </div>
    <p id="sslabel">{{ 't43362fa' | t }}</p>
    <div id="sscontainer"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="icon_1-5rem"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="icon_2rem"></div>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 't7eacb2e1' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel" class="w-node-_011f35d7-18a8-2c0a-9140-f9245f89edcb-1a6c3de1">{{ 'tn6e0c931f' | t }}</p>
    <div id="sscontainer"></div>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 't2104c4' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel" class="w-node-e64ac62a-19f5-f7fa-42d9-42c42baca491-1a6c3de1">{{ 'tn90bbdef' | t }}</p>
  </div>
  <div id="ssdivide">
    <p id="sssectiontitle">{{ 't3c5ccbe' | t }}</p>
  </div>
  <div id="ssgrid">
    <p id="sslabel" class="w-node-_9afabaaa-8ee7-ffda-5054-6935b78f6022-1a6c3de1">{{ 'tn2dc62ff7' | t }}</p>
    <div id="sscontainerflex">
      <div class="blog_article w-richtext">
        <h2>{{ 'tn3c0dda4d' | t }}</h2>
        <p>{{ 't2e633c6a' | t }}</p>
        <blockquote>{{ 'tn61c537a0' | t }}</blockquote>
        <figure class="w-richtext-align-normal w-richtext-figure-type-image">
          <div><img src="https://uploads-ssl.webflow.com/633ad4e42c7da0c6cfbbb8ac/634e9bba63b5ad20ee17bb46_Screenshot%202022-10-18%20at%2013.27.28.jpg" loading="lazy" alt=""></div>
          <figcaption>{{ 'tn27de41f' | t }}</figcaption>
        </figure>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=633ad4e42c7da0c6cfbbb8ac" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.js"></script>
  <script>
   const lenis = new Lenis({
  duration: 1.2,
  easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)), // https://www.desmos.com/calculator/brs54l4xou
  direction: 'vertical', // vertical, horizontal
  gestureDirection: 'vertical', // vertical, horizontal, both
  smooth: true,
  smoothTouch: false,
  touchMultiplier: 2,
  infinite: false,
})
//get scroll value
lenis.on('scroll', ({ scroll, limit, velocity, direction, progress }) => {
  console.log({ scroll, limit, velocity, direction, progress })
})
function raf(time) {
  lenis.raf(time)
  requestAnimationFrame(raf)
}
requestAnimationFrame(raf)
   </script>
  <!--  CUSTOM QUANTITY BUTTONS  -->
  <script>
const quantityGroupClass = "quan-group"
const quantityIncrementButtonClass = "quan-inc"
const quantityDecrementButtonClass = "quan-dec"
const quantityNumberFieldClass = "quan-num"
// Increment
$(document).on('click', `.${quantityIncrementButtonClass}`, function(){
  var $input = $(this).closest(`.${quantityGroupClass}`).find(`.${quantityNumberFieldClass}`);    
  var val = parseInt($input.val(), 10);
  $input.val(val + 1);
  $input[0].dispatchEvent(new Event('change'));
});
// Decrement
$(document).on('click', `.${quantityDecrementButtonClass}`, function(){
  var $input = $(this).closest(`.${quantityGroupClass}`).find(`.${quantityNumberFieldClass}`);    
  var val = parseInt($input.val(), 10);
  $input.val(Math.max(val - 1, 1));
  $input[0].dispatchEvent(new Event('change'));
});
</script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}